<form action="/celebrities/edit/{{celebrity._id}}" method="post">
  <input type="text" name="name" value={{celebrity.name}}>
  <input type="text" name="occupation" value={{celebrity.occupation}}>
  <input type="text" name="catchPhrase" value={{celebrity.catchPhrase}}>
  <input type="submit" value="Send">
</form>
{{user.name}}